@import 'bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: #242B2E;
    width: 100vw;
    overflow-x: hidden;
    
}



.notAvailable{
    display: none;
}


.intro {
    border-radius: 2%;
}

.imageDiv {
     display: flex;
     flex: 1;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
}

.myimg {
    /* border-radius: 50px; */
    /* overflow: hidden; */
    height: 100%;
    width: 100%;
    border-radius: 20%;
    padding: 5% 5%;
    /* padding: 5%; */
}

.name {
    /* padding: 2% 5%; */
    color: #0D0D0D;
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    background-color: yellow
}

.detail{
    padding: 0% 5%;
    color: #fff;
    font-family: cursive;
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
    vertical-align: middle;
    margin: 25% 0%;
}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    border-radius: 2%;
    padding: 3%;
    color: #fff;
}

.skills {
    text-align: center;
    font-family: cursive;
    font-size: xx-large;
    color: #fff;
}

.bars{
    width: 75%;
    margin-bottom: 2%;
}

.icons{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: #fff;
    margin-right: 10%;
    margin-left: 10%;
    padding: 1%;
    border-radius: 25%;
}

.icon{
    background-color: white;
    border-radius: 50%;
}

.icon:hover{
    background-color: #c1c1c1;
    cursor: pointer;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.footer{
    background-color: #0D0D0D;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: cursive;
    font-size: x-large;
}

.projectTitle{
    color: black;
}

.projectdiv{
    border-radius: 25px;
}

@media (max-width: 992px) {
    .imageDiv{
        display: none;
       
    }  
}


@media (max-width: 1250px) {
    .myimg{
        height: 40%;
        width: 40%;
        margin-top: 5%;
    }


    .name {
        margin-top: 5%;
        padding: "10%";
        color: #0D0D0D;
        text-align: center;
        font-size: 200%;
        font-weight: bolder;
        
    }
}


@media (max-width: 1250px) {
    .myimg{
        height: 60%;
        width: 60%;
    }
}


@media (max-width: 300px) {
    .common{
        display: none;
    }
    
    .notAvailable{
        display: block;
        text-align: center;
        text-orientation: sideways-right;
        color: #0D0D0D;
        font-family: cursive;
        font-size: x-large;
    }
}

